@model List<Leaderboard>

<h1>Leaderboard</h1>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Score</th>
        </tr>
    </thead>

    <tbody>
        @{
            int count = 0;
        }
        @foreach (Leaderboard lb in Model)
        {
            count++;
            var name = lb.AsteroidUser.UserName;
            var score = lb.Score;

            <tr>
                <th scope="row">@count</th>
                <td>@name</td>
                <td>@score</td>
            </tr>
        }
    </tbody>
</table>