@model List<Leaderboard>

<h1 class="text-white">Leaderboard</h1>
<table class="table table-striped table-dark" id="leader-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Score</th>
        </tr>
    </thead>

    <tbody>
        @{
            int count = 0;
        }
        @foreach (Leaderboard lb in Model)
        {
            count++;
            var name = lb.AsteroidUser.UserName.Substring(0, lb.AsteroidUser.UserName.LastIndexOf('@'));
            var score = lb.Score;

            <tr>
                <th scope="row">@count</th>
                <td>@name</td>
                <td>@score</td>
            </tr>
        }
    </tbody>
</table>

<!-- Javascript files-->
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/leaderboard.js"></script>
}