@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore
@model string
@{
    ViewData["Title"] = "Home Page";
}

<head>

</head>

<div class="body-projects bg-dark">
    <!-- Game -->
    <canvas width="600" height="500" id="game"></canvas>
    <div style="text-align: center;">
        <button type="button" id="start-game-button" name="button" onclick="onStartButtonClick()" class="hover-inv rounded">Start</button>
    </div>
    <div class="card-body text-white">
        <h4 class="card-title">Asteroid Dodge</h4>
        <p class="card-text">
            Your ship is approaching an asteroid belt! Use the left and right arrow keys to avoid the oncoming asteroids and collect the galactic crystals along the way.
        </p>
    </div>
</div>


<!-- Javascript files-->
@section Scripts {
    <script src="~/js/game.js"></script>
    <script>
        document.documentElement.style
            .setProperty('--CurrentBackground',"url( @Model)");
    </script>
    <!-- <script src="~/js/window.js"></script> -->
}