@model AsteroidDodge.Models.Store.StoreModel

@{
    ViewData["Title"] = "Index";
}
    <head>
        <title>Store.</title>
        <meta name="author" content="Samuel Bridge">
        <meta name="description" content="Asteroid Dodge">
        <meta name="keywords" content="HTML,CSS">
        <script  type="text/javascript">
            window.addEventListener('load', function () {
                $('.skin-select').selectable();
            });
        </script>
    </head>

<h1>Store</h1>

<table id="skin-table" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Skins
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ship in Model.StoreShips)
        {
        <tr class="skin-select">
            <td>
                <div class="ship-container">
                    <img src="@ship.ShipSkin.SkinImgLocation" alt="@ship.ShipSkin.SkinName" />
                </div>
                @if (ship.IsPurchased)
                {
                    <div class="custom-control custom-switch">
                        <input type="checkbox" onclick="skinchange(@ship.ShipSkin.ShipSkinId)" class="custom-control-input" id="">
                        <label class="custom-control-label" for=""></label>
                    </div>
                }
                else
                {
                    <div class="">
                        <label>@ship.ShipSkin.SkinCost Coins</label>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Purchase</button>
                    </div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                Maps
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    <div id="container2">
                        <img src="~/images/game_background.jpg" alt="" />
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="">
                        <label class="custom-control-label" for=""></label>
                    </div>
                </td>
                <td>
                    <div id="container2">
                        <img src="~/images/game_background.jpg" alt="" />
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="">
                        <label class="custom-control-label" for=""></label>
                    </div>
                </td>
                <td>
                    <div id="container2">
                        <img src="~/images/game_background.jpg" alt="" />
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="">
                        <label class="custom-control-label" for=""></label>
                    </div>
                </td>
            </tr>
    </tbody>
</table>

<script type="text/javascript">
    //function() {

    //var img = $('.ship-container').firstChild;
    //img.onload = function() {
    //    if(img.height > img.width) {
    //        img.height = '100%';
    //        img.width = 'auto';
    //    }
    //};


    //};
</script>


