
@{
    ViewData["Title"] = "Index";
}
<head>
    <title>Store.</title>
    <meta name="author" content="Samuel Bridge">
    <meta name="description" content="Asteroid Dodge">
    <meta name="keywords" content="HTML,CSS">
    <link rel="stylesheet" href="~/css/store.css" />
</head>

<h1 class="text-white">Overview</h1>
<div class="card-group">
    <h2>Welcome To Asteroid Dodge!</h2>
    This game was made by Melvin Bosnjak, Ryan Dougherty, Samuel Bridge and Zane Yarbrough.
    To play the game is simple. One must dodge the incoming asteroids and grab the crystals using the left and right arrow keys!
    The main game can be found on the home page, where all a user needs to do is click start and begin playing.
    To access the additoinal features of the website, such as the store and leaderboard, a user must sign up.
    When a user signs up they are permitted the access the store and have their score displayed on a leaderboard.
    As a user collects crystals in game, they are allowed to buy new ships and backgrounds at increasing amounts of coins.
    Additionally, if a user is logged in, their score will be tracked and displayed on the leaderboard. 
</div>
