body {
}

.skin-select.active {
    outline-style: solid;
    outline-color: blue;
}

.galaxy {
    width: 200px;
    height: 180px;
    padding: 10px;
}

.ship-container img {
    width: 50px;
    height: 50px;
}

.card {
    padding: 10px;
}

/*
.card-img-top {
    width: 100px;
    height: 100px;
}*/